<div class="m-0 p-0" id="video">

    <img class="img-fluid" src="https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">

</div>
    

<div class="mask d-flex" id="myMask">

    <!--ORIGINAL JUMBOTRON START-->    
    <div class="jumbotron container myShadow m-auto text-center" id="myJumbotron">
        <h1 class="display-2 mt-3">Hi! I'm Ross.</h1>
        <p class="display-4">Welcome to my Developer Portfolio!</p>
        <hr class="my-4">
        <p class="mySubtitle my-4">Step inside to see what I can do - maybe I could even solve a problem for you!</p>
        <div class="lead my-4">
            <a class="btn btn-primary mr-4 mb-4 myShadow" id="btnViewPortfolio" routerLink="/Portfolio" role="button">
                <p class="d-inline">View Portfolio</p>
            </a>

            <a class="btn btn-primary mb-4 myShadow" routerLink="/About" role="button">
                <p class="d-inline">More About Me</p>
            </a>
        </div>
    </div>    
    <!--ORIGINAL JUMBOTRON END-->    

</div>
    