@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.mask{
    height: 100vh;
    width: 100vw;
    //background-color: rgba(47,222,134,1);
    z-index: 3;
    top:0;
    left:0;
    position: fixed;
    //background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
}

.myShadow{
    -webkit-box-shadow: 14px 14px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 14px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 14px 14px 17px -1px rgba(0,0,0,0.75);
}

#video img{ 
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    z-index:2;
}

.jumbotron{
    background-color: rgba(200,200,200,0.8);
    //background-image: url('https://images.unsplash.com/photo-1509641498745-13c26fd1ed89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80');
}

button>p{
    font-family: 'Indie Flower', cursive;
    //font-size: 1.6em;
    display: inline;
}
.mySubtitle{
    font-family: 'Indie Flower', cursive;
    font-size: 1.6em; 
}


h6{
    font-family: 'Indie Flower', cursive;
    //font-size: 1.8em; 
    //font-weight: bold; 
}

