<app-navbar></app-navbar>

<div id="background"></div>

<div id="container" class="container d-flex flex-column mt-4" style="height: calc(100%-50px);">

    <div class="d-flex my-2 nav-item">
        <label for="dropDownMenuButton" class="text-success my-auto mr-2"><p class="d-inline">Filter: </p></label>
        <div class="dropdown my-auto">
            <a class="dropdown-toggle nav-link text-success" href="#" id="dropdownMenuButton" data-toggle="dropdown"><p class="d-inline text-success p-0">Choose a Language</p></a>
            <div class="dropdown-menu" style="background-color: black;" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item text-success" (click)="filterTech($event)"><p>All</p></a>
                <a class="dropdown-item text-success" (click)="filterTech($event)"><p>C#.Net</p></a>
                <a class="dropdown-item text-success" (click)="filterTech($event)"><p>iOS - Swift</p></a>
                <a class="dropdown-item text-success" (click)="filterTech($event)"><p>Web (HTML, Javascript, JQuery, Bootstrap, CSS/SCSS/SASS, Angular)</p></a>
            </div>
        </div>
    </div>


    <div class="d-flex">
        <ul class="d-flex row flex-wrap list-inline">
            <li *ngFor="let repo of tempRepos" class="m-2 bg-dark rounded hovereffect">
                <img class="d-block img-responsive" [src]="repo.imagePath" alt="Image" style="width: 350px;">
                <div class="d-flex flex-row justify-content-between bg-light rounded-bottom px-2">
                    <small class="text-muted my-auto">{{ repo.tags }}</small>
                    <!-- <button (click)="gotoRepo(repo.repo)" class="btn btn-primary my-2">-> Repo</button> -->
                </div>   
                <div class="overlay">
                    <h2 class="mt-5">{{ repo.title }}</h2>
                    <a class="info mt-4" (click)="gotoRepo(repo.repo)">GitHub</a>
                </div>     
            </li>
        </ul>
    </div>

</div>
