<app-navbar></app-navbar>

<img class="m-0 p-0 img-fluid" src="https://images.unsplash.com/photo-1562877773-a37120131ec4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" style="width: 100vw; height: 100%; position: fixed; top: 0; left: 0;">

<div class="row bg-warning p-0 m-0" style="height: 10%; width: 100vw;">
</div>


<div class="row bg-light p-0 m-0" style="height: calc(80% - 50px); width: 100vw;">
        <div class="d-flex flex-column col-xl-5 offset-xl-6 col-lg-6 offset-lg-5 col-md-7 offset-md-3 bg-light border border-dark rounded overflow-auto p-4 my-auto" style="max-height: 600px; width: auto;">

            <h1 class="text-center font-weight-bold">About Me</h1>

            <p class="text-justify mx-0 mt-0 mb-2 px-2">
                Tinkerer. Dreamer. Self-educator. Problem-solver. Advocate of individual empowerment through education, software development & technology (both old and new). Eliminator of the mundane and tedious. 
            </p>

            <p class="text-justify mx-0 mt-0 mb-2 px-2">
            Currently speaks HTML 5, CSS 3, SCSS, Javascript, Bootstrap 4, Angular 8, C#, .Net, Swift and a little ASP.NET MVC 5.
            </p>

            <p class="text-justify mx-0 mt-0 mb-2 px-2">
                    Special interests include the Environment and it's conservation, Permaculture, (Hydro/Aqua/Aero)-ponics & off-grid tech! I also enjoy trail running, Rapsberry Pi, Arduino and, when I get the chance, surfing, scuba diving, freediving & climbing.    
            </p>
        </div>
</div>

<div class="row bg-warning p-0 m-0" style="height: 10%; width: 100vw;">
</div>

