<div class="card-deck justify-content-around mx-auto my-auto">
    <div class="col-4 card p-0" style="height: 500px;">            
        <img class="card-img-top p-2 border" src="/assets/Images/medventory.png" alt="Card image cap" height="200px">
        <div class="card-body overflow-auto">
        <h5 class="card-title">MedVentory</h5>
        <p class="card-text"><span class="font-weight-bold">The Problem:</span> Tracking of Interventional Radiology procedures & stock used was still being done via pen and paper. Messy and prone to error.</p>
        <p class="card-text"><span class="font-weight-bold">The Solution:</span> MedVentory - reduces the amount of manually work required & automatically keeps track of the stock used across procedures, thus making ordering easier & more accurate. Bonus feature: no illegible "Dr's handwriting" to worry about!</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Tags: C#, .Net, WPF</small>
        </div>
    </div>
    <div class="col-4 card p-0" style="height: 500px;">            
            <img class="card-img-top p-2" src="/assets/Images/cardTestImage.jpg" alt="Card image cap" height="200px">
            <div class="card-body overflow-auto">
            <h5 class="card-title">MedVentory</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
    </div>
    <div class="col-4 card p-0" style="height: 500px;">            
            <img class="card-img-top p-2" src="/assets/Images/cardTestImage.jpg" alt="Card image cap" height="200px">
            <div class="card-body overflow-auto">
            <h5 class="card-title">MedVentory</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
    </div>
</div>