<li class="dropdown">
    <!--<div class="dropdown my-auto" style="width: auto;">-->
        <a class="text-success dropdown-toggle" href="#" data-target="#" id="ContactDropDown" data-toggle="dropdown"><p class="d-inline">Contact</p></a>
        <div class="dropdown-menu dropdown-menu-right" style="background-color: black;" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-success" target="_blank" href="https://twitter.com/Rosstamun"><p>Twitter</p></a>
            <a class="dropdown-item text-success" target="_blank" href="https://www.linkedin.com/in/ross-higgins-5aa3752a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BwTQaSE2mQvGkBtpN%2Bzndhw%3D%3D"><p>LinkedIn</p></a>
            <a class="dropdown-item text-success" target="_blank" href="https://www.instagram.com/hellomrhiggins/"><p>Instagram</p></a>
            <a class="dropdown-item text-success" target="_blank" href="mailto:wild_animale@yahoo.co.uk"><p>Email</p></a>
        </div>
    <!--</div>-->
</li>

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>