
//SASS VARIABLES
$expandingSquareStartWidth: 10px;
$expandingSquareStartHeight: 10px;
$expandingSquareEndWidth: 75vw;
$expandingSquareEndHeight: 75vh;

$slideSquareHeight: 75vh;
$slideSquareWidth: 75vw;

$bootTextContainerWidth: 400px;
$bootTextContainerHeight: 100px;

$interfaceTitleHeight: auto;
$interfaceTitleWidth: 90%;

$borderTextColor: #1ec503;

$InitialisingTextColor: #1ec503;
$InitialisingTextSize: 0.9em;
$maskColor: black;

p{
    font-size: $InitialisingTextSize;
}

.background{
    position: fixed;
    top: 0;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-image: url("src/assets/Images/Backgrounds/fayeCornishUnsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: slideBackground;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes slideBackground{
    from{
        position: absolute;
        top: 0;
        left: -100%;
    }
    to{
        position: absolute;
        top: 0;
        left: 0;
    }
}

.wrapper{
    width: 100%;
    height: 100%;
    //background-color: lightskyblue;
    background: inherit;
    background-image: url("src/assets/Images/Backgrounds/fayeCornishUnsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    animation: slideSquare 1.5s forwards normal, zoomWrapperToFullScreenPortfolio 0.5s forwards normal 8s;

    -webkit-box-shadow: 12px 12px 27px 4px rgba(0,0,0,0.78); 
    box-shadow: 12px 12px 27px 4px rgba(0,0,0,0.78);
}


#outerSquare {
    background: inherit;
}

#outerSquare:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(8px);
    background: inherit;
}

#bootTextContainer{
    background-color: rgba($color:white, $alpha: 0);
    position: absolute;
    top: 80%;
    left: 5%; 

    height: $bootTextContainerHeight;
    width: $bootTextContainerWidth;
}

#bootTextContainer, .bootTextEntry{
    display: block;
}

.bootTextEntry, .bootEntry0, .bootEntry1{
    color: $InitialisingTextColor;
    font-size: $InitialisingTextSize; 
}
.anim-typewriter{
    white-space: nowrap;
    overflow: hidden;  

    animation: typewriter 1s steps(26) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;    
}

.finalBootTextEntry{
    color: red;
    display: block;
    font-size: $InitialisingTextSize; 

    animation-name: finalBootTextEntryAnimation;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 10;
    animation-duration: 0.3s;
}

@keyframes zoomWrapperToFullScreenPortfolio{
    from{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: ($slideSquareHeight/2) * -1;
        margin-left: ($slideSquareWidth/2) * -1;
        border-color:$borderTextColor;
        border-width: 2px;
        border-style: solid;
        width: $slideSquareWidth;
        height: $slideSquareHeight;
    }

    to{
        position: absolute;
        top: 0%;
        left: 0%;
        margin-top: 0;
        margin-left: 0;
        border-color:$borderTextColor;
        border-width: 2px;
        border-style: solid;
        width: 100vw;
        height: 100vh;
    }

}

@keyframes finalBootTextEntryAnimation{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes slideSquare{
    from{
        position: absolute;
        top: 50%;
        left: 150%;
        margin-top: ($slideSquareHeight/2) * -1;
        margin-left: ($slideSquareWidth/2) * -1;
        border-color:$borderTextColor;
        border-width: 2px;
        border-style: solid;
        width: $slideSquareWidth;
        height: $slideSquareHeight;
    }

    to{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: ($slideSquareHeight/2) * -1;
        margin-left: ($slideSquareWidth/2) * -1;
        border-color:$borderTextColor;
        border-width: 2px;
        border-style: solid;
        width: $slideSquareWidth;
        height: $slideSquareHeight;
    }
}

//BOOT TEXT TYPEWRITER ANIMATION

@keyframes typewriter{
  from{width: 0;}
  to{width: 25em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
