@import "./app/navbar/navbar.component";
@import "./app/app.component";
@import "./app/initial-overlay/initial-overlay.component";
@import "./app/portfolio-view/portfolio-view.component";
@import "./app/about-me-view/about-me-view.component";
@import "./app/test/test.component";

body {
    overscroll-behavior: none;
    background-color: black;
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Arial';
    font-size: 1em;
}

router-outlet + * {
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
}

p{
    margin: 0;
}