@import "./app/navbar/navbar.component";
@import "./app/app.component";
@import "./app/portfolio-view/portfolio-view.component";
@import "./app/test/test.component";
@import "./app/intro-animation/intro-animation.component";

body {
    overscroll-behavior: none;
    background-color: black;
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Arial';
    font-size: 1em;
    margin: 0;

}

router-outlet + * {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    height: 100vh;
    width: 100vw;
}
